@font-face{
  font-family: Biryani Bold;
  src: url('images/logofont.ttf');
}

@media (min-width: 0px) {
  .sec1-info {
    grid-template-columns: auto;
    grid-template-rows: 35vh 17.5vh 17.5vh;
    gap: 0px;
    padding: 1px;
  }
  .section-text p {
    font-size: 2.5vw;
  }

  .section2-text p {
    font-size: 2.5vw;
  }
  
  .section-image {
    display: flex;
  }
  .section-image img {
    max-width: 60%;
    width: auto;
    height: auto;
    padding: 45px;
    object-fit: contain;
    margin: auto;
    text-align: center;
  }
}

@media (min-width: 560px) {
  .sec1-info {
    grid-template-columns: auto auto;
  }
  .section-text {
    grid-column: 1 / 3;
  }
  .section-text p {
    font-size: 1.5vw;
  }

  .section2-text {
    grid-column: 1 / 3;
  }
  .section2-text p {
    font-size: 1.5vw;
  }
  .section-image img {
    padding: 15px;
    max-width: 100%;
    width: auto;
    height: auto;
    
  }
}

@media (min-width: 900px) {
  .sec1-info {
    grid-template-columns: auto auto;
  }

  .sec2-info {
    grid-template-columns: auto auto;
  }
  
  .section-text {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }

  .section2-text {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }
  
  .section-text p {
    font-size: 2vh;
  }

  .section2-text p {
    font-size: 2vh;
  }
  
  .section-image img {
    padding: 15px;
    width: 60%;
    height: auto;
    object-fit: contain;
    margin: auto;
    text-align: center;
  }
}

html{
  --bg: #fafaf6;
  --colour-headings: #ffea4f;
  --font-colour: black;
  --muscles-tile: #cacfd2;
  --muscles-border:#95a0a6;
  --muscles-hover:#95a0a6;
  --info-sec1-bg: #dddddb;
  --info-sec1-head:#fff29b;
  --info-sec2-bg:#bcbcb8;
  --info-sec2-head:#fce072;
  --calc-bg: #fff7b7;
  
  
}

html[data-theme='dark'] {
  --bg: #080808;
  --colour-headings: #355cca;
  --font-colour: white;
  --muscles-tile: #545e63;
  --muscles-border:#202426;
  --muscles-hover:#202426;
  --info-sec1-bg: #525252;
  --info-sec1-head: #607dd5;
  --info-sec2-bg:#2d2d2d;
  --info-sec2-head:#264191;
  --calc-bg: cornflowerblue;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a {
  font-family: "Biryani Bold" , Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.5vw;
  color: white;
  text-decoration: none;
}

nav {
  position: relative;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1% 5%;
  background-color: var(--bg);
}

.logo {
  margin-right: auto;
  max-width: 50vw;
  max-height: 50vw;
  display: inline-block;
  transition: 0.4s;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 1vw;
  width: auto;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
  color: var(--font-colour);
  
}

.nav-links li a:hover {
  color: gray;
}

.menu {
  width: 100%;
  height: 90vh;
  background: beige;
  
}

.menu-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.muscle-selection {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: auto auto ;
}

.muscle-text{
  font-size: 32px;
  display: grid;
  justify-content: center;
  align-content: center;
  color: var(--font-colour);
  font-family: "Biryani Bold", Arial, Helvetica, sans-serif;
}

.front, .back, .arms, .legs {
  display: grid;
  justify-content: center;
  align-content: center;
  background: var(--muscles-tile);
  border: 7.5px;
  border-color: var(--muscles-border);
  border-style: inset;
}

.muscle-selection .arms:hover, .back:hover, .front:hover, .legs:hover{
  background-color: var(--muscles-hover);
  border-style: outset;
}

.info {
  width: 100%;
  height: 90vh;
  display: flexbox;
}

.sec1 {
  background: var(--info-sec1-bg);
  height: 90vh;
}

.sec2 {
  background: var(--info-sec2-bg);
  height: 90vh;
}

.sec1 h1 {
  font-family: "Biryani Bold", Arial, Helvetica, sans-serif;
  padding: 20px;
  color: var(--font-colour);
  background:var(--info-sec1-head);
}

.sec2 h1 {
  font-family: "Biryani Bold", Arial, Helvetica, sans-serif;
  padding: 20px;
  color: var(--font-colour);
  background: var(--info-sec2-head);
}

.sec1-info {
  width: 100%;
  height: 70vh;
  display: grid;
}

.sec2-info {
  width: 100%;
  height: 70vh;
  display: grid;
}
  
.section-text {
  display: grid;
}

.section2-text {
  display: grid;
}

.section-text p {
  padding: 20px;
  font-family: "Biryani Bold", Arial, Helvetica, sans-serif;
  text-align: justify;
  color: var(--font-colour);
}

.section2-text p {
  padding: 20px;
  font-family: "Biryani Bold", Arial, Helvetica, sans-serif;
  text-align: justify;
  color: var(--font-colour);
}

.section-image {
  justify-content: center;
  display: grid;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.nav-label {
	cursor: pointer;
	width: 52px;
	height: 27px;
	background: var(--colour-headings);
	border-radius: 100px;
	position: relative;
  display: inline-block;
}

.nav-label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

.nav-check:checked + .nav-label {
	background: var(--colour-headings);
}

.nav-check:checked + .nav-label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.nav-label:active:after {
	width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

.calc_btn-button {
  padding: 5px 5px;
  font-family: "Biryani Bold", Arial, Helvetica, sans-serif;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: var(--info-sec1-head);
  border: none;
  border-radius: 15px;
  box-shadow: 3px 4px var(--muscles-hover);
  border-bottom: 10%;
  margin-bottom: 2%;
}

.calc_btn-button:hover {
  background-color: var( --info-sec2-head);
}

.calc_btn-button:active {
  background-color: var( --info-sec2-head);
  box-shadow: 1px 2px var(--muscles-hover);
  transform: translateY(2px);
}

.reset_btn-button {
  padding: 5px 5px;
  font-family: "Biryani Bold", Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding-left: ;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background-color: var(--info-sec1-head);
  border: none;
  border-radius: 15px;
  box-shadow: 3px 4px var(--muscles-hover);
  
}

.reset_btn-button:hover {
  background-color: var( --info-sec2-head);
}

.reset_btn-button:active {
  background-color: var( --info-sec2-head);
  box-shadow: 1px 2px var(--muscles-hover);
  transform: translateY(2px);
}

.bmi-calculator{
  background-color: var(--calc-bg);
  height: 20%;
  transition: 0.3s;
  font-size: 2.5vh 100%;
}

.bmi-units {
  display: flex;
  box-sizing: border-box;
}

.bmi-sel {
  box-sizing: border-box;
  padding-left: 5px;
  vertical-align: middle;
  margin-right: 1.5rem;
}

.bmi-but {
  width: auto;
  box-sizing: border-box;
  padding: 0;
  overflow: visible;
  font-family: "Biryani Bold" , Arial, Helvetica, sans-serif;
  color: var(--font-colour);
}

.calc_label {
  box-sizing: border-box;
  font-family: "Biryani Bold" , Arial, Helvetica, sans-serif;
  display: inline;
  margin-bottom: 0;
  margin-left: .5em;
  vertical-align: middle;
  cursor: pointer;
  font-size: 25px;
}

.unit-input {
  margin-bottom: 1.5rem !important;
  box-sizing: border-box;
}

.bmi-calculator-units-grid {
  margin-bottom: .75rem !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 100%;
  font-size: 100%;
}

.col--3 {
  font-family: "Biryani Bold" , Arial, Helvetica, sans-serif;
  cursor: pointer;
  user-select: none;
  display: block;
  margin-bottom: 0;
  flex-basis: 8%;
  max-width: 8%;
  box-sizing: border-box;
  padding-left: 1px;
  padding-right: 10%;
  min-width: 0%;
  font-size: 100%;
  position: relative;
  text-align: center;
  
}

.imp_box {
  border: 1px solid #dedee3;
  border-radius: 12px;
  padding: 9px 5px;
  flex-basis: 16%;
  max-width: 10%;
  min-width: 0;
  font-family: "Biryani Bold" , Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  position: center;
  margin-left: 10%;
}

.col--2 {
  font-family: "Biryani Bold" , Arial, Helvetica, sans-serif;
  cursor: pointer;
  user-select: none;
  display: block;
  margin-bottom: .4em;
  flex-basis: 5%;
  max-width: 5%;
  box-sizing: border-box;
  padding-left: .75rem;
  padding-right: .75rem;
  min-width: 0%;
}

.unit-inputI {
  display: block;
}

.unit-inputM {
  display: none;
}

.metric-choice {
  border: 1px solid #e1e1e5;
  border-radius: 40px;
  color: #32325d;
  margin-left: .5rem;
  flex-basis: 42%;
  max-width: 42%;
  min-width: 0;
  padding-left: .75rem;
  padding-right: .75rem;
  font-family: "Biryani Bold" , Arial, Helvetica, sans-serif;
  cursor: pointer;
  padding: .5rem 32px .5rem .6rem;
  box-sizing: border-box;
}

.h3 {
  font-family: "Biryani Bold" , Arial, Helvetica, sans-serif;
  color: var(--font-colour);
  font-size: 2.5vh
}

.BMI-list {
  font-family: "Biryani Bold" , Arial, Helvetica, sans-serif;
  color: var(--font-colour);
  font-size: 2.5vh
}